:root {
    --text-color: rgb(255, 255, 255);
    --dark-purple: rgb(35, 6, 57);
    --nav-bar: rgb(16, 2, 32);
    --light-blue: rgb(0, 89, 172);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: "Patrick Hand", sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    height: 5rem;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--nav-bar);
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 1000;
    letter-spacing: 1.3px;
}

nav .left-side a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 700;
}

nav .right-side a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.6rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav .right-side a:hover {
    color: white;
    background-color: var(--light-blue);
    /* transition: color 0.3s ease-in-out;*/
} 

section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8rem 2rem;
    gap: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
    background-color: var(--dark-purple);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section h2 {
    text-align: center;
    font-size: 3rem; 
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
}

/* Sqiggly line under texts */
section h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: -5px;
    left: -2%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 10'%3E%3Cpath d='M0,5 Q12.5,0 25,5 T50,5' stroke='%23add59c' stroke-width='3' fill='none'/%3E%3C/svg%3E"); 
    background-repeat: repeat-x;
}